@inherits LayoutComponentBase
<div class="page" style="background: linear-gradient(180deg, #E0FFFF, #edeef0);">
    <div class="sidebar" style="display: flex; width: auto; background: #211f30; flex-direction: column; padding: 0; background: #211f30;">
        <NavMenu />
    </div>

    <main style="background: transparent;">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>