<div class="top-row" style="background: #211f30; margin: 0; display: flex; justify-content: center; padding: 0; margin: 0 28px; height: auto; margin-top: 12px; background: #211f30;">
    <div class="container-fluid">
        <a class="navbar-brand" href="contacts" style="font-family: sans-serif; margin: 0; color: #E29930; font-weight: 700; font-size: 22px;">Справочник контактов</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contacts" Match="NavLinkMatch.All" style="color: #87cefa;font-size: 19px;font-family: sans-serif;">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Контакты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contactCreator" style="color: #87cefa;font-size: 19px;font-family: sans-serif;">
                <span class="oi oi-plus" aria-hidden="true"></span> Создать контакт
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}